*{
  margin:0;
  padding:0;
  box-sizing:border-box;  
  font-family: sans-serif,Georgia, 'Times New Roman', Times, serif;
}
body{
    min-height:100vh;
  background:#eee;
  
}
.categories{
    display: flex;
    justify-content: space-around;
    
}
.search{
    background:#dad9d9; 
}
.searchForCategorie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin-left: 50px;
    margin-top: 1px;
    box-shadow: 0px 0px 5px 0px rgb(206, 204, 204);
}
@media only screen and (max-width: 600px) {
    .categories{
        display: flex;
        flex-direction: column;
    justify-content: space-evenly;
    }
    .searchForCategorie h3{
        display: none;
    }
    .searchForCategorie{
        border-style: none;
    }
}